<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bentu.css">
</head>

<body>
    <nav id="app">
        <div class="X-header" v-for="div in logo">
            <a href="index.html">
                {{ div.yp }}
            </a>
            <input :type=" div.tp " :placeholder=" div.pc " :class=" div.fst ">
            <input :type=" div.btn " :value=" div.ss " :class=" div.two ">
        </div>
        <div class="X-nav" v-for="div in oL">
            <div class="nav_2">
                <div class="assort">
                    <h1>
                        {{ div.frist }}
                    </h1>
                </div>
                <div class="nav_1">
                    <ul>
                        <li v-for="li in list">
                            <a href=" li.src ">
                                {{ li.txt }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_banner">
            <div class="banner_left fl">
                <ul>
                    <li v-for="li in sPlist">
                        <a href="javascript:;">
                            <img :src=" li.src " alt=""> {{ li.txt }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="banner_right fl">
                <a href="javascript:;" v-for="a in img">
                    <img :src=" a.pic " alt="">
                </a>
            </div>
        </div>
    </nav>
    <div id="main">
        <div class="L_jkls">
            <h1 class="L_jk">
                当地特色
            </h1>
            <div class="L_jklist">
                <ul>
                    <li>
                        <a href="xq.html">
                            <div>
                                <img src="images/shou-jin-01.jpg">
                            </div>
                        </a>
                        <p class="L_pinming">
                            <a href="#">
                                bake cookie烤制浓厚巧克力
                            </a>
                        </p>
                        <p>
                            价格：
                            <span>
                                ¥15.00
                            </span>
                        </p>
                        <p class="goumai">
                            <a href="xq.html">
                                购买
                            </a>
                        </p>
                    </li>
                    <li>
                        <a href="xq.html">
                            <div>
                                <img src="images/shou-jin-02.jpg">
                            </div>
                        </a>
                        <p class="L_pinming">
                            <a href="#">
                                小松饼永黄味小米脆饼干
                            </a>
                        </p>
                        <p>
                            价格：
                            <span>
                                ￥44.00
                            </span>
                        </p>
                        <p class="goumai">
                            <a href="xq.html">
                                购买
                            </a>
                        </p>
                    </li>
                    <li>
                        <a href="xq.html">
                            <div>
                                <img src="images/shou-jin-03.jpg">
                            </div>
                        </a>
                        <p class="L_pinming">
                            <a href="#">
                                烘米苏奶酪咖啡巧克力
                            </a>
                        </p>
                        <p>
                            价格：
                            <span>
                                ￥33.00
                            </span>
                        </p>
                        <p class="goumai">
                            <a href="xq.html">
                                购买
                            </a>
                        </p>
                    </li>
                    <li>
                        <a href="xq.html">
                            <div>
                                <img src="images/shou-jin-04.jpg">
                            </div>
                        </a>
                        <p class="L_pinming">
                            <a href="#">
                                奶油夏威夷果零食进口坚果
                            </a>
                        </p>
                        <p>
                            价格：
                            <span>
                                ￥45.00
                            </span>
                        </p>
                        <p class="goumai">
                            <a href="xq.html">
                                购买
                            </a>
                        </p>
                    </li>
                    <li>
                        <a href="xq.html">
                            <div>
                                <img src="images/shou-jin-05.jpg"></div>
                        </a>
                        <p class="L_pinming">
                            <a href="#">
                                斯提拉米苏蛋糕
                            </a>
                        </p>
                        <p>
                            价格：
                            <span>
                                ￥17.00
                            </span>
                        </p>
                        <p class="goumai">
                            <a href="xq.html">
                                购买
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="L_footpage"><span class="prve">上一页</span><span class="L_shuzi">1</span><span class="L_next">下一页</span></p>
    <div id="r-footer">
        <div class="r-foot">
            <ul v-for="ul in lt6">
                <li>
                    <a href="javascript:;">
                        {{ ul.lis1 }}
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        {{ ul.lis2 }}
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        {{ ul.lis3 }}
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        {{ ul.lis4 }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="r-foo">
        <div class="r-fo">
            <a href="javascript:;">
                首页
            </a>
            <a href="javascript:;">
                |
            </a>
            <a href="javascript:;">
                零食
            </a>
            <a href="javascript:;">
                |
            </a>
            <a href="javascript:;">
                美酒
            </a>
            <a href="javascript:;">
                |
            </a>
            <a href="javascript:;">
                当地特色
            </a>
            <a href="javascript:;">
                |
            </a>
            <a href="javascript:;">
                留言板
            </a>
        </div>
        <p>
            ©2015 网站样板-食品饮料 版权所有
        </p>
        <p>
            技术支持：凡科建站
            <em>
                |
            </em> 手机版
        </p>
    </div>
    <script src="https://wuxiongda.top/vue/js/vue.js"></script>
    <script src="js/vue4.js"></script>
</body>

</html>