<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/zhuce.css">
</head>

<body>
    <nav id="app">
        <div class="X-header" v-for="div in logo">
            <a href="index.html">
                {{ div.yp }}
            </a>
            <input :type=" div.tp " :placeholder=" div.pc " :class=" div.fst ">
            <input :type=" div.btn " :value=" div.ss " :class=" div.two ">
        </div>
        <div class="X-nav" v-for="div in oL">
            <div class="nav_2">
                <div class="assort">
                    <h1>
                        {{ div.frist }}
                    </h1>
                </div>
                <div class="nav_1">
                    <ul>
                        <li v-for="li in list">
                            <a href=" li.src ">
                                {{ li.txt }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_banner">
            <div class="banner_left fl">
                <ul>
                    <li v-for="li in sPlist">
                        <a href="javascript:;">
                            <img :src=" li.src " alt=""> {{ li.txt }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="banner_right fl">
                <a href="javascript:;" v-for="a in img">
                    <img :src=" a.pic " alt="">
                </a>
            </div>
        </div>
    </nav>
    <div id="zhuce">
        <div id="r-zhuce">
            <div class="r-zhuce">
                <h2>
                    会员注册
                </h2>
            </div>
            <form action="login.html" method="post">
                <table border="0" cellspacing="0" cellpadding="0" class="login_table message_table">
                    <tbody>
                        <tr>
                            <td class="login_table_zhangHu">
                                用户名：
                            </td>
                            <td>
                                <input type="text" class="required" id="name" name="name" />
                                <span id="sname" class="frbule">
                                    输入至少4位用户名
                                </span>
                            </td>

                        </tr>
                        <tr>
                            <td class="login_table_zhangHu">
                                密码：
                            </td>
                            <td>
                                <input type="password" class="required" id="pwd" name="pwd" />
                                <span id="spwd" class="frbule">
                                    请输入至少6位密码
                                </span>
                            </td>

                        </tr>
                        <tr>
                            <td class="login_table_zhangHu">
                                确认密码：
                            </td>
                            <td>
                                <input type="password" class="required" id="rpwd" name="rpwd" />
                                <span id="srpwd" class="frbule">
                                    请重复密码
                                </span>
                            </td>

                        </tr>
                        <tr>
                            <td class="login_table_zhangHu">
                                姓名：
                            </td>
                            <td>
                                <input type="text" class="required" name="xingming" id="xingming" />
                                <span id="xingming1" class="frbule">
                                    请输入姓名
                                </span>
                            </td>

                        </tr>
                        <tr>
                            <td class="login_table_zhangHu">
                                电子邮件：
                            </td>
                            <td>
                                <input type="text" class="required" id="email" name="email" />
                                <span id="semail" class="frbule">
                                    请输入正确的邮箱地址
                                </span>
                            </td>

                        </tr>
                        <tr>
                            <td class="login_table_zhangHu">
                                联系电话：
                            </td>
                            <td>
                                <input type="text" class="required" name="phone" id="phone" />
                                <span id="phone1" class="frbule">
                                    请输入正确的联系电话
                                </span>
                            </td>

                        </tr>
                        <tr>
                            <td class="login_table_zhangHu">
                                留言：
                            </td>
                            <td style="margin-top: 5px;"><textarea name="" rows="" cols="" style="height: 64px;width: 266px;border: 1px solid #DADADA;"></textarea></td>

                        </tr>
                        <tr>
                            <td class="message_table_name login_table_zhangHu">
                                验证码：
                            </td>
                            <td class="message_table_input">
                                <input type="text" name="" value="" id="message_yanZhen">
                                <img src="images/yanzhengma.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td class="login_table_zhangHu">
                                &nbsp;
                            </td>
                            <td>
                                <input type="button" name="" id="" value="注 册">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--<div class="r-zhuce-input">
                        <div class="int">
                            <label for="username">帐号:</label>
                            <input type="text" class="required" name="username" id="username" />
                        </div>
                        <div class="int">
                            <label for="password">密码:</label>
                            <input type="text" class="required" name="password" id="password">
                        </div>
                        <div class="int">
                            <label for="password">确认密码:</label>
                            <input type="text" class="required" name="password" id="password">
                        </div>
                        <div class="int">
                            <label for="password">姓名:</label>
                            <input type="text" class="required" name="password" id="password">
                        </div>
                            
                        <div class="int">
                            <label for="email">电子邮件:</label>
                            <input type="text" class="required" id="email" />
                        </div>
            
                        <div class="int">
                            <label for="ID">联系电话:</label>
                            <input type="text" class="" id="ID" />
                        </div>
            
                        <div class="int">
                            <label for="personinfo">留言:</label>
                            <textarea name="" rows="5" cols="20"></textarea>
                        </div>
            
                        <div class="sub">
                            <input type="submit" value="提交" id="send" />
                            <input type="reset" value="重置" id="res" />
                        </div>
                    </div>-->
            </form>

        </div>
    </div>
    <div id="r-footer">
        <div class="r-foot">
            <ul v-for="ul in lt6">
                <li>
                    <a href="javascript:;">
                        {{ ul.lis1 }}
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        {{ ul.lis2 }}
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        {{ ul.lis3 }}
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        {{ ul.lis4 }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="r-foo">
        <div class="r-fo">
            <a href="javascript:;">
                首页
            </a>
            <a href="javascript:;">
                |
            </a>
            <a href="javascript:;">
                零食
            </a>
            <a href="javascript:;">
                |
            </a>
            <a href="javascript:;">
                美酒
            </a>
            <a href="javascript:;">
                |
            </a>
            <a href="javascript:;">
                当地特色
            </a>
            <a href="javascript:;">
                |
            </a>
            <a href="javascript:;">
                留言板
            </a>
        </div>
        <p>
            ©2015 网站样板-食品饮料 版权所有
        </p>
        <p>
            技术支持：凡科建站
            <em>
                |
            </em> 手机版
        </p>
    </div>
    <script src="https://wuxiongda.top/vue/js/vue.js"></script>
    <script src="js/vue5.js"></script>
</body>

</html>